* {
  margin: 0;
}

body {
  background: url("./img/bg.jpg") no-repeat center center/cover;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.importantNotes .card {
  background: #1e130c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9a8478,
    #1e130c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9a8478,
    #1e130c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.importantNotes .btn:hover {
  background: #ff4c0d;
  color: #fff;
  outline: none;
}

.card {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 15rem;
}

.btn {
  background: transparent;
  color: inherit;
  border: 1px solid;
  outline: none;
  margin: 1rem;
}

.btn:hover {
  background: #ff4c0d;
  color: #fff;
  border: 1px solid #ff4c0d;
  outline: none;
}
